* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Optimist, Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --colorCapBlue: #004879;
  --colorCapRed: #D22E1E;
}

header {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  background:  var(--colorCapBlue);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

header > img {
  max-height: 50px;
  max-width: 50px;
}