* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Optimist', 'Helvetica Neue',Helvetica,Arial,sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

:root {
  --colorCapBlue: #004879;
  --colorCapRed: #D22E1E;
  --color-LGray: rgb(192, 191, 191);
  --colorGray: rgb(75, 75, 75);
  --background-image: url(https://www.gsb.stanford.edu/sites/default/files/styles/1630x_variable/public/qa-tien-subscription.jpg?itok=zGQJeKxA);
}

header {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 75px;
  background: white;
  border-bottom: solid 1px lightgray;
  z-index: 10;
  color: var(--colorGray);
}

header > img {
  margin: auto 0;
}
header > .logo {
  max-height: 75px;
  max-width: 200px;
}

nav {
  width: 50%;
	max-width: 500px;
	height: 75px;
  font-weight: 300;
}

nav > ul {
  display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
	align-items: center;
	padding-inline-start: 0;
	margin-block: 0;
	height: 100%;
}

nav > ul > li {
  text-shadow: var(--text-shadow);
  position: relative;
	display: block;
  border-radius: 5%;
  font-size: 1.75em;


}

nav > ul > li:hover {
  text-decoration: underline;
  font-weight: 500;
  border-radius: 5%;
  padding: auto 10px;
  cursor: pointer;
}

nav > ul > li:active {
  font-weight: 700;
}

li > a {
  color: inherit;
  text-decoration: none;
}


main {
  color: black;
  margin-top: 75px;
}

.welcome-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  color: var(--colorA);
  border-bottom: solid var(--colorB) 10px;
}

.welcome-section::before {
  content: "";
  background: var(--background-image);
  background-size: cover;
  position: absolute;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

.welcome-box {
  background: white;
  text-align: center;
  opacity: none;
  border-radius: 5%;
  padding: 20px; 
  position: absolute;
  height: 20vw;
  width: 24%;
  right: 15%;
  overflow:hidden;
}

.welcome-box > h1 {
  font-size: 1.3vw;
  padding: 15px;

}

.welcome-box p, .welcome-box ul > li {
  font-size: 0.8vw;
  padding: 5px;
  margin: auto 10%;
}

.subscriptions {
  background: var(--color-LGray);
  padding: 2vw;
}

.orderby > h2 {
  padding-top: 3vw;
  font-size: 1.75em;
  display: inline-block;
  padding-bottom: 5px;
}
.orderby > h2:hover {
  text-decoration: underline;
}

.orderby > form > select {
  background-color: var(--color-LGray);
  border: solid 2px var(--colorGray);
  padding: 5px;
  border-radius: 5%;
  color: Black;
  font-weight: 600;
}
/* Source for the scrolling container: https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6  */
.sub-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 15px 0;
  flex-grow: 1;
  flex-basis:0;
  padding-bottom: 30px;
}

.sub-tile {
  flex: 0 0 280px;
  border-radius: 5%;
  display:inline-block;
  overflow: hidden;
  margin-left: 5%;
  background-color: var(--colorGray);
  color: white;
}

.sub-tile > img {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}
.sub-tile > .sub-name {
  font-size: 1.75em;
  text-align: center;
  transition: 0.3s smooth;
  padding-top: 5px;
  padding-bottom: 0;
}
.sub-tile > .check {
  font-size: 1.2rem;
  align-items: right;
  text-align: right;
  padding-right: 10px;
}
#myBox {
  transform: scale(1.3);
}
.sub-tile > .sub-name:hover {
  font-weight: 700;
  text-decoration: underline;
}
.sub-tile > .sub-info {
  position: relative;
  padding-top: 20px;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 10px;
  
}
 #netflix-used {
  background-color: var(--colorCapRed);
  display:inline-block;
  padding-right: 5px;
}

.manager {
  height: 50vh;
}

.manager {
  border-top: solid 2px var(--colorGray);
  content: "";
  background: url(https://ecm.capitalone.com/WCM/homepage/testing/photos/hero/bank/1030239-07192022-mabtest-mech-b1.a-desktop-2b-2/desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sub-manager {
  background: white;
  text-align: center;
  border-radius: 5%;
  padding: 20px; 
  margin-left: 20%;
  margin-top: 4%;
  height: 70%;
  width: 20%;
  overflow:hidden;
}

.sub-manager h2 {
  font-size: 2.5rem;
  padding: 15px;
}
.sub-manager > p, .sub-manager > ol > li {
  font-size: 0.8vw;
  text-align: left;
  padding: 3px;
  margin: auto 10%;
}

.sub-manager > button {
  padding: 5px;
  color: white;
  font-weight: 600;
  margin-top: 15px;
}

#cancel{
  background-color: var(--colorCapRed);
  border: solid 2px var(--colorCapRed);
  margin-right: 5px;
}

#renew{
  background-color: var(--colorCapBlue);
  border: solid 2px var(--colorCapBlue);
  margin-left: 5px;
}

#cancel:hover {
  background-color: rgb(235, 83, 72);
}
#cancel:active {
  border: solid 2px rgb(235, 83, 72);
}
#renew:hover {
  background-color: rgb(4, 141, 187);
}
#renew:active {
  border: solid 2px rgb(4, 141, 187);
}

footer {
  height: 5vh;
  background-color: var(--color-LGray);
}

.footer-stuff {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-top: 15px;
  width: 100%;
  font-size: 1.5em;
}

.footer-stuff a {
  text-decoration: none;
  color: black;
}
.footer-stuff > .socials > a {
  margin: 3.5px;
  font-size: 1.3em;
}
.footer-stuff > .links > a {
  margin: 8px;
}
.footer-stuff > .links > a:hover {
  text-decoration: underline;
}