* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --colorCapBlue: #004879;
  --colorCapRed: #D22E1E;
}